@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  @apply border;
  @apply border-solid;
  @apply border-gray-300;
  @apply px-4;
  @apply py-2;
}

.border-hairline {
  @apply border border-black border-opacity-10;
}

.image-wrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
}

button {
  @apply border rounded font-semibold py-1 px-4
}

button:enabled {
  @apply bg-transparent hover:bg-gray-500 text-black hover:text-white hover:border-transparent border-black
}

button:disabled {
  @apply bg-gray-300 text-gray-600 border-gray-300
}

input[type=range] {
  @apply h-2 bg-gray-200 rounded-lg appearance-none dark:bg-gray-700;
  padding: 0;
}

input[type=range]::-webkit-slider-thumb {

  -webkit-appearance: none;
  height: 36px;
  width: 8px;
  border-radius: 3px;
  background: rgb(81, 81, 81);
  cursor: pointer;
}